<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" charset="utf-8"/>
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
        <title>InfoProtection</title>
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <h2 class="header">Меню</h2>
                <div class=menu_group>
                    <h3>Lab1</h3>
                    <div class="menu_item"><a asp-controller="Lab1" asp-action="Encrypt">Зашифровать сообщение шифром Вижинера</a></div>
                    <div class="menu_item"><a asp-controller="Lab1" asp-action="Decrypt">Расшифровать сообщение закодированное шифром Вижинера</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab2</h3>
                    <div class="menu_item"><a asp-controller="Lab2" asp-action="Encrypt">Зашифровать сообщение методом RSA</a></div>
                    <div class="menu_item"><a asp-controller="Lab2" asp-action="Decrypt">Расшифровать сообщение методом RSA</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab3</h3>
                    <div class="menu_item"><a asp-controller="Lab3" asp-action="Encrypt">Зашифровать сообщение методом Эль Гамаля</a></div>
                    <div class="menu_item"><a asp-controller="Lab3" asp-action="Decrypt">Расшифровать сообщение методом Эль Гамаля</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab4</h3>
                    <div class="menu_item"><a asp-controller="Lab4" asp-action="Encrypt">Зашифровать файл с помощью DES</a></div>
                    <div class="menu_item"><a asp-controller="Lab4" asp-action="Decrypt">Расшифровать файл с помощью DES</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab5</h3>
                    <div class="menu_item"><a asp-controller="Lab5" asp-action="Encrypt">Зашифровать циклическим кодом (7, 4)</a></div>
                    <div class="menu_item"><a asp-controller="Lab5" asp-action="Decrypt">Расшифровать циклическим кодом (7, 4)</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab6</h3>
                    <div class="menu_item"><a asp-controller="Lab6" asp-action="Encrypt">Сжать файл с помощью алгоритма Хаффмана + LZW</a></div>
                    <div class="menu_item"><a asp-controller="Lab6" asp-action="Decrypt">Распаковать файл с помощью алгоритма Хаффмана + LZW</a></div>
                </div>
                <div class=menu_group>
                    <h3>Lab7</h3>
                    <div class="menu_item"><a asp-controller="Lab7" asp-action="Hash">Хешировать пароль</a></div>
                    <div class="menu_item"><a asp-controller="Lab7" asp-action="VerifyHash">Проверить пароль</a></div>
                </div>
                 <div class=menu_group>
                    <h3>Lab8</h3>
                    <div class="menu_item"><a asp-controller="Lab8" asp-action="Encrypt">Xor шифрование</a></div>
                    <div class="menu_item"><a asp-controller="Lab8" asp-action="Decrypt">Xor дешифрование</a></div>
                </div>
            </div>
            @RenderBody()
        </div>        
    </body>
</html> 