<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" charset="utf-16"/>
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
        <title>Lab1</title>
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <h2 class="header">Меню</h2>
                <div class="menu_item"><a asp-controller="Home" asp-action="Encrypt">Зашифровать сообщение</a></div>
                <div class="menu_item"><a asp-controller="Home" asp-action="Decrypt">Расшифровать сообщение</a></div>
            </div>
            @RenderBody()
        </div>        
    </body>
</html> 