@model DesCryptViewModel
<div class="forms">
      <h2 class="header">Дешифратор DES</h2>
      <form method="post" asp-action="Decrypt" enctype="multipart/form-data">
            <div class="forms_field">
                <label asp-for="Key">Ключ (16 бит):</label>
            <input asp-for="Key" minlength="16" maxlength="16" required />
            </div>             
            <div class="forms_field">
            <input type="file" asp-for="FormFile" name="sourceFile" required /><br>
            </div>
            <div class="forms_field">
                  <input type="submit" value="Расшифровать" />
            </div>
      </form>
</div>
