<div class="forms">
    <h2 class="header">Расшифровать циклический код (7, 4)</h2>
    <form method="post" asp-action="Decrypt">
        <div class="forms_field">
            <label>Сообщение (7 бит):</label>
            <input name="source" type="text" minlength="7" maxlength="7" required />
        </div>             
        <div class="forms_field">
            <input type="submit" value="Расшифровать" />
        </div>
    </form>
    <h2 class="header">Результат</h2>
    <div class="message">
        <b>Расшифрованное сообщение:</b>
        @ViewData["Message"]
    </div>
</div>
