@model AsymmetricDecryptViewModel
<div class="forms">
      <h2 class="header">Дешифратор RSA</h2>
      <form method="post" asp-action="Decrypt">
            <div class="forms_field">
                  <label asp-for="Cipher">Зашифрованая строка:</label>
                  <input asp-for="Cipher" />
            </div>
            <div class="forms_field">
                  <label asp-for="d">d:</label>
                  <input asp-for="d" />
            </div>
            <div class="forms_field">
                  <label asp-for="n">n:</label>
                  <input asp-for="n" />
            </div>
            <div class="forms_field">
                  <button type="submit">Расшифровать</button>
            </div>  
      </form>
      <div class="message">
            Расшифрованное сообщение:<br>
            @ViewData["Message"]
      </div>
</div>
