<div class="forms">
      <h2 class="header">Декомпрессия Хаффмана + LZW</h2>
      <form method="post" asp-action="Decrypt" enctype="multipart/form-data">           
            <div class="forms_field">
                <input type="file" name="sourceFile" required /><br>
            </div>
            <div class="forms_field">
                  <input type="submit" value="Распаковать" />
            </div>
      </form>
</div>
