<div class="forms">
      <h2 class="header">Сжатие Хаффмана + LZW</h2>
      <form method="post" asp-action="Encrypt" enctype="multipart/form-data">         
            <div class="forms_field">
                  <input type="file" name="sourceFile"/><br>
            </div>
            <div class="forms_field">
                  <input type="submit" value="Сжать" />
            </div>
      </form>
</div>
